body{
       margin: 0px; 
}
.heading1 {
        color: rgb(2, 85, 239);
        background-color: aliceblue;
}

.heading2 {
        color: brown;
        
}
                   
.heading3{ 
      color:coral;
}

#about{ 
        background-color:whitesmoke;
       color:crimson;
}

section{
        display: flex;
        margin-bottom: 100px;

 }

.half-width{
        width:50%;
}

.half-width {
        padding: 5%;
       
}

.link-button{
       text-decoration: none; 
       background-image: linear-gradient(orange,tomato);
       color: aliceblue;
       font-weight: 700;
       padding: 10px 30px;
       border-radius: 5px;
}
.top_banner{
       background-image: url(images/top-banner.png);
       background-repeat: no-repeat;
}

.dream-big{
        background-image:url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-left: 5px;
}